In [1]:
import pandas as pd

In [2]:
movie = pd.read_csv('영화(수정).csv', encoding='cp949')[['날짜', '전체_관객수']]

movie

              날짜   전체_관객수
0     2019-01-01  1163267
1     2019-01-02   353349
2     2019-01-03   394614
3     2019-01-04   388232
4     2019-01-05   820944
...          ...      ...
1030  2021-10-27   142344
1031  2021-10-28    95646
1032  2021-10-29   119958
1033  2021-10-30   240784
1034  2021-10-31   228318

[1035 rows x 2 columns]

In [3]:
## 일별데이터 월별로 합 구하기

In [4]:
def change_date_format(row):
    date = row['날짜'].split('-')
    result = date[0] + '-' + date[1]
    return result

In [5]:
movie['날짜'] = movie.apply(change_date_format, axis=1)

In [6]:
movie

           날짜   전체_관객수
0     2019-01  1163267
1     2019-01   353349
2     2019-01   394614
3     2019-01   388232
4     2019-01   820944
...       ...      ...
1030  2021-10   142344
1031  2021-10    95646
1032  2021-10   119958
1033  2021-10   240784
1034  2021-10   228318

[1035 rows x 2 columns]

In [7]:
df1 = movie.groupby(movie['날짜']).sum()

In [8]:
df1

           전체_관객수
날짜
2019-01  18122443
2019-02  22277733
2019-03  14671693
2019-04  13338962
2019-05  18062457
2019-06  22845579
2019-07  21916465
2019-08  24786121
2019-09  14733642
2019-10  14858383
2019-11  18600679
2019-12  22464620
2020-01  16843695
2020-02   7372370
2020-03   1834722
2020-04    972572
2020-05   1526236
2020-06   3864533
2020-07   5618701
2020-08   8834741
2020-09   2988680
2020-10   4633636
2020-11   3595334
2020-12   1438873
2021-01   1786117
2021-02   3111920
2021-03   3256510
2021-04   2562287
2021-05   4379485
2021-06   4927991
2021-07   6976452
2021-08   7910074
2021-09   5412323
2021-10   5192073

In [9]:
value = df1['전체_관객수']

In [10]:
value

날짜
2019-01    18122443
2019-02    22277733
2019-03    14671693
2019-04    13338962
2019-05    18062457
2019-06    22845579
2019-07    21916465
2019-08    24786121
2019-09    14733642
2019-10    14858383
2019-11    18600679
2019-12    22464620
2020-01    16843695
2020-02     7372370
2020-03     1834722
2020-04      972572
2020-05     1526236
2020-06     3864533
2020-07     5618701
2020-08     8834741
2020-09     2988680
2020-10     4633636
2020-11     3595334
2020-12     1438873
2021-01     1786117
2021-02     3111920
2021-03     3256510
2021-04     2562287
2021-05     4379485
2021-06     4927991
2021-07     6976452
2021-08     7910074
2021-09     5412323
2021-10     5192073
Name: 전체_관객수, dtype: int64

In [11]:
## 리스트로 옮겨서 전년동기퍼센테이지 계산

In [12]:
value_val = value.values

In [13]:
value_val

array([18122443, 22277733, 14671693, 13338962, 18062457, 22845579,
       21916465, 24786121, 14733642, 14858383, 18600679, 22464620,
       16843695,  7372370,  1834722,   972572,  1526236,  3864533,
        5618701,  8834741,  2988680,  4633636,  3595334,  1438873,
        1786117,  3111920,  3256510,  2562287,  4379485,  4927991,
        6976452,  7910074,  5412323,  5192073])

In [14]:
#### 19-20년도

In [15]:
lgeo = value_val[:24]

In [16]:
for i in range(12):
    print(((lgeo[i] - lgeo[i+12])/lgeo[i])*100)

7.056156832718415
66.90700081556771
87.4948174011002
92.70878798515206
91.55023040331668
83.08411005910597
74.36310554644648
64.3560967042806
79.71526659871334
68.81466846022208
80.67095292596576
93.59493728360417

In [17]:
#### 20-21년도

In [18]:
eoel = value_val[12:]

In [19]:
eoel

array([16843695,  7372370,  1834722,   972572,  1526236,  3864533,
        5618701,  8834741,  2988680,  4633636,  3595334,  1438873,
        1786117,  3111920,  3256510,  2562287,  4379485,  4927991,
        6976452,  7910074,  5412323,  5192073])

In [20]:
for i in range(10):
    print(((eoel[i]-eoel[i+12])/eoel[i])*100)

89.39593123717806
57.789421854844505
-77.49337501812263
-163.45473651308077
-186.94677625216545
-27.51840908073498
-24.16485589818714
10.466260414425278
-81.09409505199619
-12.051809852996653